.div-wrapper {
  width: 90%;
  margin: auto;
  background-color: hsl(213deg 100% 25%) !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.left-div {
  /* border: 1px solid; */
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lottie {
  /* border: 1px solid !important; */
  width: 400px !important;
  height: 400px !important;
}
.right-div {
  /* border: 1px solid; */
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.card {
  width: 170px;
  /* height: 240px; */
  margin-bottom: 10px;
}
.card-content {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}
.card-media {
  height: 100px;
}
.card-typo {
  padding-top: 5px;
}
.cards-div1 {
  margin-top: 100px;
}
.cards-div2 {
  margin-bottom: 100px;
  margin-right: 10px;
}
.Typo-text {
  color: white;
  margin-top: 100px !important;
  text-align: center;
}

@media (max-width: 915px) {
  .card {
    width: 150px;
  }
  .lottie {
    height: 400px !important;
    width: 400px !important;
  }
  .Typo-text {
    font-size: 3.5rem !important;
  }
  .card-media {
    height: 70px;
  }
}
@media (max-width: 830px) {
  .div-wrapper {
    flex-direction: column;
  }
  .card {
    width: 170px;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .div-wrapper {
  }
  .right-div {
    flex-direction: column;
    width: 300px;
  }
  .left-div {
    width: 300px;
    flex-wrap: wrap;
  }
  .cards-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards-div2 {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lottie {
    height: 50px !important;
    width: 50px !important;
  }
  .Typo-text {
    font-size: 3rem !important;
    text-overflow: hidden;
  }
  .card {
    width: 90%;
  }
}
