.contact {
  width: 100%;
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 65px;
  /* border: 1px solid; */
}
.div1 {
  width: 40%;
  height: 500px;
  margin-top: 100px;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  background-color: hsl(60deg 1% 73%) !important;
  padding: 5px;
}
.div1 > div {
  height: 100%;
  width: 100%;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.div2_1 {
  /* border: 1px solid hsl(213deg 100% 25%) !important; */
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  overflow-wrap: break-word;
}
.email_typo {
  /* word-wrap: break-word !important; */
  /* border: 1px solid; */
}
.div2 {
  width: 50%;
  height: 500px;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact-icon {
  width: 30% !important;
  height: 30% !important;
  fill: hsl(213deg 100% 25%) !important;
}

.contact_link {
  text-decoration: none !important;
  color: black !important;
}
.contact_us_lottie {
  height: 400px;
  margin: 20px;
  /* max-width: 300px; */
}
.contact_us {
  text-align: center;
  color: hsl(213deg 100% 25%) !important;
}
.cu_typo {
  font-size: 6rem !important;
}
@media (max-width: 930px) {
  .contact {
    flex-direction: column-reverse;
  }
  .div1 {
    width: 80%;
    margin-top: 50px;

  }
  .div2 {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .div1 > div {
    flex-direction: column;
  }
  .div2_1 {
    width: 80%;
    height: 80%;
  }
  .div1 {
    height: 800px;
  }
  .contact_us {
    /* width: 20%; */
    /* border: 1px solid; */
  }
  .cu_typo {
    font-size: 4rem !important;
  }
  .contact_us_lottie {
    height: 200px;
    margin: 20px;
  }
}
@media (max-width: 400px) {
  .cu_typo {
    font-size: 3rem !important;
  }
  .contact{
    margin-top: 0px;
  }
  .MuiTypography-h6 {
    font-size: 1rem !important;
  }
  .MuiTypography-body1 {
    font-size: 0.85rem !important;
  }
}