.contact {
  width: 100%;
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 65px;
}
.div1 {
  width: 40%;
  height: 500px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: hsl(60deg 1% 73%) !important;
  padding: 5px;
}
.div1 > div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.div2_1 {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  overflow-wrap: break-word;
}

.div2 {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact-icon {
  width: 30% !important;
  height: 30% !important;
  fill: hsl(213deg 100% 25%) !important;
}

.contact_link {
  text-decoration: none !important;
  color: black !important;
}
.contact_us_lottie {
  height: 400px;
  margin: 20px;
}
.contact_us {
  text-align: center;
  color: hsl(213deg 100% 25%) !important;
}
.cu_typo {
  font-size: 6rem !important;
}
/* Contact form */
.contact_form {
  height: 100%;
  width: 50vw;
  padding: 2vw;
}
.input {
  width: 45vw;
  height: 5vw;
  margin-bottom: 1.5vw;
  border-radius: 0.5vw;
  border: 2.5px solid #949494bf;
  padding-left: 2vw;
  padding-top: 0.5vw;
  font-family: Poppins !important;
  font-size: 1.4vw;
  font-weight: 100;
  color: #c8cbdabf;
}
.input_btn {
  width: 15vw;
  height: 5vw;
  border-radius: 0.8vw;
  font-size: 1.5vw;
  color: white;
  border: 1px solid #003980 !important;
  background-color: #003980 !important;
}
.input_btn:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: 0.2s ease-in-out;
}
.input_btn:focus {
  transform: translateY(1px);
  transition: 0.1s ease-in-out;
}
@media (max-width: 930px) {
  .contact {
    flex-direction: column-reverse;
  }
  .div1 {
    width: 80%;
    margin-top: 50px;
  }
  .div2 {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .contact {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 2vw;
  }
  .contact_form {
    width: 80vw;
  }
  .input {
    width: 70vw;
    height: 6vw;
  }
}
@media (max-width: 600px) {
  .div1 > div {
    flex-direction: column;
  }
  .div2_1 {
    width: 80%;
    height: 80%;
  }
  .div1 {
    height: 800px;
  }

  .cu_typo {
    font-size: 4rem !important;
  }
  .contact_us_lottie {
    height: 200px;
    margin: 20px;
  }
  .input_btn {
    font-size: 1.8vw;
    width: 18vw;
    height: 7vw;
  }
}
@media (max-width: 450px) {
  .contact_head {
    font-size: 10vw !important;
  }
  .contact_me_text {
    font-size: 4vw !important;
  }
  .input {
    font-size: 3vw;
    width: 80vw;
    height: 14vw;
  }
  .input_btn {
    font-size: 3vw;
    width: 28vw;
    height: 13vw;
  }
  .contact_img > img {
    height: 80vw !important;
  }
}
@media (max-width: 400px) {
  .cu_typo {
    font-size: 3rem !important;
  }
  .contact {
    margin-top: 0px;
  }
  .MuiTypography-h6 {
    font-size: 1rem !important;
  }
  .MuiTypography-body1 {
    font-size: 0.85rem !important;
  }
}
